<template>
    <div class="time-table-header__content__add-new-group-container">
        <div
            @click="showGlobalPopup"
            class="time-table-header__content__add-new-group-container__button"
        ></div>
        <div class="time-table-header__content__add-new-group-container__popup hidden">
            <div
                v-if="isTeachersSelected || isStudentsSelected"
                class="time-table-header__content__add-new-group-container__popup__top"
            >
                <div
                    v-if="isTeachersSelected"
                    @click="showTopLevel"
                    class="time-table-header__content__add-new-group-container__popup__top__teacher time-table-header__content__add-new-group-container__popup__top__level"
                >Преподаватели</div>
                <div
                    v-if="isStudentsSelected"
                    @click="showTopLevel"
                    class="time-table-header__content__add-new-group-container__popup__top__student time-table-header__content__add-new-group-container__popup__top__level"
                >Студенты</div>
                <div
                    v-if="isSecondLevelSelected"
                    @click="showSecondLevel"
                    class="time-table-header__content__add-new-group-container__popup__top__faculty time-table-header__content__add-new-group-container__popup__top__level"
                >{{secondLevelValue}}</div>
                <div
                    v-if="isThirdLevelSelected"
                    @click="showThirdLevel"
                    class="time-table-header__content__add-new-group-container__popup__top__course time-table-header__content__add-new-group-container__popup__top__level"
                >{{thirdLevelValue}}</div>
            </div>
            <div class="time-table-header__content__add-new-group-container__popup__content">
                <div
                    v-if="!isTeachersSelected & !isStudentsSelected"
                    class="time-table-header__content__add-new-group-container__popup__first-level"
                >
                    <div
                        @click="showFacultiesForTeachers"
                        class="time-table-header__content__add-new-group-container__popup__first-level__TODO level-point"
                    >Преподаватели</div>
                    <div
                        @click="showFacultiesForStudents"
                        class="time-table-header__content__add-new-group-container__popup__first-level__TODO level-point"
                    >Студенты</div>
                </div>
                <div
                    v-if="isStudentsSelected & !isStudentsFacultySelected"
                    class="time-table-header__content__add-new-group-container__popup__student-faculties"
                >
                    <div
                        @click="showDirectonPopup(faculty)"
                        v-for="faculty in faculties"
                        :key="faculty"
                        class="time-table-header__content__add-new-group-container__popup__student-faculty level-point"
                    >{{faculty}}</div>
                </div>
                <div
                    v-if="isStudentsFacultySelected & !isCourceSelected"
                    class="time-table-header__content__add-new-group-container__popup__courses"
                >
                    <div
                        @click="showGroupPopup(direction)"
                        v-for="direction in directions"
                        :key="direction"
                        class="time-table-header__content__add-new-group-container__popup__course level-point"
                    >{{direction}}</div>
                </div>
                <div
                    v-if="isCourceSelected"
                    class="time-table-header__content__add-new-group-container__popup__groups"
                >
                    <div
                        v-for="group in groups"
                        :key="group"
                        @click="showAddSchedulePopup(group)"
                        class="time-table-header__content__add-new-group-container__popup__group level-point"
                    >{{group}}</div>
                </div>
                <div
                    v-if="isTeachersSelected & !isTeachersFacultySelected"
                    class="time-table-header__content__add-new-group-container__popup__student-faculties"
                >
                    <div
                        @click="showDepartmentsPopup(faculty)"
                        v-for="faculty in faculties"
                        :key="faculty"
                        class="time-table-header__content__add-new-group-container__popup__student-faculty level-point"
                    >{{faculty}}</div>
                </div>
                <div
                    v-if="isTeachersFacultySelected & !isDepartmentSelected"
                    class="time-table-header__content__add-new-group-container__popup__courses"
                >
                    <div
                        @click="showTeachersPopup(department)"
                        v-for="department in departments"
                        :key="department"
                        class="time-table-header__content__add-new-group-container__popup__course level-point"
                    >{{department}}</div>
                </div>
                <div
                    v-if="isDepartmentSelected"
                    class="time-table-header__content__add-new-group-container__popup__teachers"
                >
                    <div
                        v-for="teacher in teachers"
                        :key="teacher"
                        @click="showAddSchedulePopup(teacher)"
                        class="time-table-header__content__add-new-group-container__popup__teacher level-point"
                    >{{teacher}}</div>
                </div>
            </div>
            <div class="confirmate hidden">
                <div class="overlay"></div>
                <div class="content">
                    <div class="add-new-group-popup-header">Новое расписание</div>
                    <div class="data">
                        <span class="new-name-schedule-label">Название</span>
                        <input type="text" class="new-name-schedule" v-model="newNameSchedule">
                        <div class="buttons-action">
                            <button
                                @click="requestToAddSchedule"
                                class="save-schedule-button"
                            >Сохранить</button>
                            <button class="cancel-save-schedule-button">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

var backUrl = 'http://localhost:3000';

var getStudentFaculty = backUrl + '/availability/students/';
var getTeachersFaculty = backUrl + '/availability/teachers/';
var postNewSchedule = backUrl + '/account/schedules';

export default {
    name: '',
    created: function() {
        var clickOutsidePopupHandler = function(event) {
            if ($(event.target).hasClass('time-table-header__content__add-new-group-container__button')) {
                return;
            }
            if (!$(event.target).closest('.time-table-header__content__add-new-group-container__popup').length) {
                $('.time-table-header__content__add-new-group-container__popup').toggleClass('hidden', true);
            } else {
            }
        };

        $(document).click(clickOutsidePopupHandler);
    },
    methods: {
        showAddSchedulePopup: function(nameOfShedule) {
            this.newNameSchedule = nameOfShedule;
            this.originalName = nameOfShedule;
            $('.time-table-header__content__add-new-group-container__popup')
                .find('.confirmate')
                .toggleClass('hidden');

            var isClickHandlerAdded = $('.time-table-header__content__add-new-group-container__popup')
                .find('.confirmate')
                .find('.overlay')
                .hasClass('click-added');

            if (isClickHandlerAdded) {
                return;
            } else {
                $('.time-table-header__content__add-new-group-container__popup')
                    .find('.confirmate')
                    .find('.overlay')
                    .toggleClass('click-added');
                $('.time-table-header__content__add-new-group-container__popup')
                    .find('.confirmate')
                    .find('.overlay')
                    .click(function() {
                        $(this)
                            .parent()
                            .toggleClass('hidden');
                    });
            }
        },

        requestToAddSchedule: function() {
            var data = {
                type: this.isTeachersSelected ? 'teacher' : 'student',
                secondLevel: this.secondLevelValue,
                thirdLevel: this.thirdLevelValue,
                originalName: this.originalName,
                typedName: this.newNameSchedule
            };
            var currnetCookies = $.cookie('my_schedules');
            if (!currnetCookies) {
                currnetCookies = {
                    schedules: [data]
                };
            } else {
                currnetCookies = JSON.parse(currnetCookies);
                currnetCookies.schedules.push(data);
            }
            $.cookie('my_schedules', JSON.stringify(currnetCookies));
        },

        showGlobalPopup: function() {
            $('.time-table-header__content__add-new-group-container__popup').toggleClass('hidden');
        },
        showFacultiesForTeachers: function() {
            this.isTeachersSelected = true;
            axios.get(getTeachersFaculty).then(
                function(response) {
                    this.faculties = response.data;
                }.bind(this)
            );
        },
        showFacultiesForStudents: function() {
            axios.get(getStudentFaculty).then(
                function(response) {
                    this.faculties = response.data;
                }.bind(this)
            );
            this.isStudentsSelected = true;
        },
        showDirectonPopup: function(faculty) {
            this.secondLevelValue = faculty;
            axios.get(getStudentFaculty + this.secondLevelValue + '/').then(
                function(response) {
                    this.directions = response.data;
                }.bind(this)
            );
            this.isSecondLevelSelected = true;
            this.isStudentsFacultySelected = true;
        },
        showGroupPopup: function(direction) {
            this.thirdLevelValue = direction;
            axios.get(getStudentFaculty + this.secondLevelValue + '/' + this.thirdLevelValue + '/').then(
                function(response) {
                    this.groups = response.data;
                }.bind(this)
            );
            this.isThirdLevelSelected = true;
            this.isCourceSelected = true;
        },
        showDepartmentsPopup: function(faculty) {
            this.secondLevelValue = faculty;
            axios.get(getTeachersFaculty + this.secondLevelValue + '/').then(
                function(response) {
                    this.departments = response.data;
                }.bind(this)
            );
            this.isSecondLevelSelected = true;
            this.isTeachersFacultySelected = true;
        },
        showTeachersPopup: function(department) {
            this.thirdLevelValue = department;
            axios.get(getTeachersFaculty + this.secondLevelValue + '/' + this.thirdLevelValue + '/').then(
                function(response) {
                    this.teachers = response.data;
                }.bind(this)
            );
            this.isThirdLevelSelected = true;
            this.isDepartmentSelected = true;
        },
        showThirdLevel: function() {
            this.isDepartmentSelected = false;
            this.isCourceSelected = false;
            this.isThirdLevelSelected = false;
        },
        showTopLevel: function() {
            this.showSecondLevel();
            this.isTeachersSelected = false;
            this.isStudentsSelected = false;
        },
        showSecondLevel: function() {
            this.showThirdLevel();
            this.isStudentsFacultySelected = false;
            this.isTeachersFacultySelected = false;
            this.isSecondLevelSelected = false;
        }
    },
    data: function() {
        return {
            faculties: [],
            directions: [],
            groups: [],
            departments: [],
            teachers: [],
            secondLevelValue: '',
            thirdLevelValue: '',
            isTeachersSelected: false,
            isStudentsSelected: false,
            isStudentsFacultySelected: false,
            isTeachersFacultySelected: false,
            isCourceSelected: false,
            isDepartmentSelected: false,
            isSecondLevelSelected: false,
            isThirdLevelSelected: false,
            newNameSchedule: '',
            originalName: ''
        };
    }
};
</script>

<style lang="scss" scoped>
@import '../../scss/colors';

.time-table-header__content__add-new-group-container {
    float: right;
    color: black;
    &__popup {
        .confirmate {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1113;
            .overlay {
                background-color: rgba(0, 0, 0, 0.7);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1111;
            }

            .content {
                position: absolute;
                top: 80px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1112;
                width: 300px;
                background-color: $text;
                .data {
                    padding: 20px;

                    .new-name-schedule {
                        float: right;
                    }
                    .buttons-action {
                        margin-top: 10px;

                        .cancel-save-schedule-button {
                            border: none;
                            float: right;
                            padding: 6px;
                            background-color: $primary;
                            color: $text;
                            width: 80px;
                        }

                        .save-schedule-button {
                            border: none;
                            padding: 6px;
                            background-color: $accent;
                            color: $text;
                            width: 80px;
                        }
                    }
                }

                .add-new-group-popup-header {
                    background-color: $dark-primary;
                    padding: 10px;
                    color: $text;
                }
            }
        }

        background-color: $text;
        min-width: 300px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 100;
        position: absolute;
        right: 10%;

        .level-point {
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .level-point:hover {
            background-color: $divider-color;
            color: $text;
        }

        &__content::-webkit-scrollbar {
            width: 8px;
        }

        /* Handle */
        &__content::-webkit-scrollbar-thumb {
            background: $accent;
            border-radius: 3px;
        }

        /* Handle on hover */
        &__content::-webkit-scrollbar-thumb:hover {
            background: $dark-primary;
        }

        &__content {
            max-height: 200px;
            overflow: auto;
        }

        &__top {
            font-family: 'Courier New', Courier, monospace;
            font: 300 18px/1.5 Lato, 'Helvetica Neue', Helvetica, arial, sans-serif;
            background-color: $accent;
            color: $text;
            height: 40px;
            display: flex;
            &__level::after {
                border-style: solid;
                border-width: 2px 2px 0 0;
                content: '';
                display: inline-block;
                height: 8px;
                left: 0;
                position: relative;
                top: 9px;
                transform: rotate(45deg);
                vertical-align: top;
                width: 8px;
                margin-right: 5px;
            }
            &__level:hover {
                background-color: $dark-primary;
            }
            &__level {
                padding-top: 4px;
                padding-bottom: 4px;
            }
            &__level:first-child {
                padding-left: 10px;
            }
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                'Helvetica Neue', sans-serif;
            font-weight: normal;
        }
    }
    &__button {
        width: 26px;
        height: 26px;
        padding: 5px;
        background-color: $dark-primary;
        position: relative;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    &__button:hover {
        background-color: $primary;
    }

    &__button::after {
        content: ' ';
        position: absolute;
        display: block;
        background-color: #fff;
        height: 2px;
        margin-top: -1px;
        top: 50%;
        left: 8px;
        right: 8px;
        z-index: 9;
    }
    &__button::before {
        content: ' ';
        position: absolute;
        display: block;
        background-color: #fff;
        width: 2px;
        margin-left: -1px;
        left: 50%;
        top: 8px;
        bottom: 8px;
        z-index: 9;
    }
}
</style>


