<template>
    <div class="global-search">
        <input
            class="global-search__search-field"
            type="text"
            placeholder="Поиск"
            name="search"
            v-model="searchValue"
        >
        <button
            @click="toggleSearchBarInMobile"
            class="global-search__submit btn btn-search fa fa-search"
            type="submit"
        ></button>
        <div class="global-search__mobile hidden hidden-xl">
            <div @click="toggleSearchBarInMobile" class="overlay"></div>
            <div class="content">
                <input
                    type="text"
                    class="global-search__search-field__mobile-input"
                    v-model="searchValue"
                    placeholder="Поиск"
                >
                <div class="mobile-search-result">
                    <div class="level-point">asd</div>
                    <div class="level-point">asd</div>
                    <div class="level-point">asd</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'global-search',
    methods: {
        toggleSearchBarInMobile: function() {
            if ($(window).width() > 768) {
                return;
            }
            $('.global-search')
                .find('.global-search__mobile')
                .toggleClass('hidden');
        }
    },
    data: function() {
        return {
            searchValue: ''
        };
    }
};
</script>

<style lang="scss" scoped>
@import '../../scss/colors';
.global-search:hover {
    .global-search__search-field {
        @media (min-width: 767px) {
            width: 150px;
            outline: none;
        }
    }
}
.global-search {
    float: right;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    width: 30px;

    &__search-field {
        border: none;
        font-size: 12px;
        height: 20px;
        padding: 4px 8px;
        position: absolute;
        border-radius: 15px;
        right: 0;
        transition: all 0.3s ease-in-out;
        width: 12px;
        outline: none;
    }

    &__search-field:hover {
        @media (min-width: 767px) {
            width: 150px;
            outline: none;
        }
    }

    &__submit {
        outline: none;
        background: $text;
        border-radius: 50%;
        height: 24px;
        right: 2px;
        top: 2px;
        transition: all 0.3s ease-in-out;
        width: 24px;
        position: absolute;
        border: none;
        font-size: 12px;
        padding: 4px;
    }
    &__mobile {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1113;
        .overlay {
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1111;
        }

        .content {
            position: relative;
            top: 55px;
            left: 10px;
            z-index: 1112;

            .global-search__search-field__mobile-input {
                left: 50%;
                transform: translateX(-50%);
                position: relative;
                border-radius: 15px;
                border: none;
                height: 25px;
                width: 70%;
                padding: 4px 8px;
            }

            .mobile-search-result {
                left: 50%;
                transform: translateX(-50%);
                width: 70%;
                position: relative;
                background-color: $text;
                color: black;
                margin-top: 10px;
            }
        }
    }
}
</style>


