<template>
    <div class="time-table-header__content__group-list-container">
        <button
            @click="showGroupList"
            class="time-table-header__content__group-list-container__button"
        >КН-15-2</button>
        <div
            class="time-table-header__content__group-list-container__popup hidden"
            v-click-outside="hidder"
            id="myDropdown"
        >
            <a
                class="time-table-header__content__group-list-container__popup__group-button level-point"
                href="#"
            >КН-15-2</a>
            <a
                class="time-table-header__content__group-list-container__popup__group-button level-point"
                href="#"
            >КН-15-3</a>
            <a
                class="time-table-header__content__group-list-container__popup__group-button level-point"
                href="#"
            >КН-15-4</a>
        </div>
    </div>
</template>

<script>
export default {
    name: 'group-list-button',
    created: function() {
        var clickOutsidePopupHandler = function(event) {
            if ($(event.target).hasClass('time-table-header__content__group-list-container__button')) {
                return;
            }
            if (!$(event.target).closest('.time-table-header__content__group-list-container').length) {
                $('.time-table-header__content__group-list-container__popup').hide();
            } else {
                event.stopPropagation();
            }
        };
        $(document).click(clickOutsidePopupHandler);
    },

    methods: {
        showGroupList: () => {
            $('.time-table-header__content__group-list-container__popup').show();
        },
        simple: () => {},
        hidder: function(event) {
            console.log(event);
        }
    }
};
</script>

<style lang="scss" scoped>
@import '../../scss/colors';

.time-table-header {
    &__content {
        &__group-list-container {
            height: 50px;
            float: left;
            overflow: hidden;
            &__button {
                cursor: pointer;
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
                height: -webkit-fill-available;
            }
            &__button:hover {
                background-color: $primary;
                transition: 500ms;
            }
            &__popup {
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 100;
                position: absolute;
            }
        }
    }
}
</style>

