<template>
    <div @click="hello" class="time-table-header">
        <div class="time-table-header__content">
            <nav>
                <group-list-button ref="groupListButton"></group-list-button>
                <add-new-group-button ref="addNewGroupButton"></add-new-group-button>
                <global-search ref="globalSearch"></global-search>
            </nav>
        </div>
    </div>
</template>

<script>
//TODO: DO NOT TOUCH HELLO. It is example how to use communication with another component.
import GropuListButton from './group-list-button';
import AddNewGroupButton from './add-new-group-button';
import GlobalSearch from './global-search';

export default {
    name: 'time-table-header',
    components: {
        'group-list-button': GropuListButton,
        'add-new-group-button': AddNewGroupButton,
        'global-search': GlobalSearch
    },
    methods: {
        hello: function() {
            this.$refs.groupListButton.simple();
        }
    }
};
</script>

<style lang="scss" scoped>
@import '../../scss/colors';

.time-table-header {
    z-index: 1000;
    font-family: Arial Narrow, sans-serif;
    width: 100vw;
    position: absolute;
    background: $dark-primary;
    color: $text;
    top: 0;
    height: 50px;

    &__content {
        width: 80%;
        margin: 0 auto;
    }
}
</style>






