<template>
    <div class="app">
        <time-table-header></time-table-header>
        <time-table></time-table>
        <sign-in-button></sign-in-button>
    </div>
</template>

<script>
import timeTable from './time-table/time-table';
import timeTableHeader from './header/time-table-header';
import signInButton from './sign-in/sign-in-button';

export default {
    name: 'app',
    components: {
        'time-table': timeTable,
        'time-table-header': timeTableHeader,
        'sign-in-button': signInButton
    },
    metaInfo: {
        meta: [{ charset: 'utf-8' }, { name: 'viewport', content: 'width=device-width, initial-scale=1' }]
    }
};
</script>

<style lang="scss">
@import '../scss/colors';
body {
    margin: 0;
}

.hidden {
    display: none;
}

.level-point {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.level-point:hover {
    background-color: $divider-color;
    color: $text;
}

.hidden-xs {
    @media (max-width: 767px) {
        display: none;
    }
}

.hidden-xl {
    @media (min-width: 767px) {
        display: none;
    }
}
</style>