<template>
    <div class="sign-in-button">
        <button
            @click="openGoogleSignInApi"
        >Sign In</button>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'sign-in-button',
    methods: {
        openGoogleSignInApi: () => {
            axios.defaults.withCredentials = true;
            var windowThatWasOpened;
            var url = axios.get("http://localhost:3000/auth/url").then((resp) => {
                return resp.data;
            }).then((url) => {
                windowThatWasOpened = window.open(url, "Please sign in with Google", "width=500px,height=700px");
            });

            window.onmessage = (e) => {
                windowThatWasOpened.close();
                var urlWithCode = e.data;
                var idx = urlWithCode.lastIndexOf("code=");
                var code = urlWithCode.substring(idx + 5).replace("#","");
                console.log(code);
                axios.post("http://localhost:3000/auth/token", {"code" : code}).then((resp) => {
                    console.log(`SUCCESS ${resp.data}`);
                    console.log(resp.data);
                }).catch(function (error) {
                    console.log(error);
                });
            };
        }
    }
}
</script>