<template>
    <div class="time-table-cell">
        <flickity :options="flickityOptions">
            <div
                v-for="classData in classesData"
                :key="classData.name"
                :class="[
                             classData.type.short_name,
                             'cell',
                             hasMultiple(classesData)?'carousel-cell':'static-cell'
                         ]"
            >
                {{classData.subject.brief}}
                <br>
                {{classData.type.short_name}}
                <br>
                {{classData.auditory}}
                <br>
            </div>
        </flickity>
    </div>
</template>

<script>
import flickity from 'vue-flickity';

export default {
    name: 'time-table-cell',
    props: {
        classesData: {
            type: Array,
            required: true
        }
    },
    data: function() {
        return {
            flickityOptions: {
                freeScroll: true,
                contain: true,
                prevNextButtons: false,
                pageDots: false,
                adaptiveHeight: true
            }
        };
    },
    methods: {
        hasMultiple(array) {
            return array.length > 1;
        }
    },
    components: {
        flickity: flickity
    }
};
</script>

<style scoped lang="scss">
.time-table-cell {
    text-align: center;
    max-width: 90px;
    min-width: 90px;
    height: 70px;
    margin-bottom: 5px;
}

.cell {
    height: 70px;
    border-radius: 5px;
}

.static-cell {
    max-width: 90px;
    min-width: 90px;
}

.carousel-cell {
    max-width: 80px;
    min-width: 80px;
    margin-right: 3px;
}

.Лк {
    background-color: #ffff99;
}

.Пз {
    background-color: #99ff99;
}

.Лб {
    background-color: #66ccff;
}
</style>