<template>
    <div class="time-table">
        <div class="class-times-background"></div>
        <div class="class-times">
            <div v-for="classTime in classTimes" :key="classTime" class="class-time">{{classTime}}</div>
        </div>
        <carousel :items="16" :dots="true" :margin="10" :nav="true" :class="[displayType]">
            <time-table-day
                v-for="(current) in dateRange"
                :key="current.getTime()"
                :group-id="groupId"
                :date="current"
                :classTimes="classTimes"
                :events="getEventsForDate(current)"
            ></time-table-day>
        </carousel>
    </div>
</template>

<script>
import carousel from 'vue-owl-carousel';
import dateFormat from 'dateformat';

import timeTableDay from './time-table-day';
import timeService from '../../modules/util/timeService';

export default {
    name: 'time-table',
    created: function() {
        this.getEvents();
        this.initDateRange();
    },
    data: function() {
        return {
            groupId: 5259418,
            fromDate: new Date('2018-09-01T00:00:00Z'),
            toDate: new Date('2018-12-30T00:00:00Z'),
            displayType: 'days',
            dateRange: [],
            eventsToDisplayIterator: 0,
            classTimes: [2, 3, 4, 5, 6],
            events: []
        };
    },
    methods: {
        getEvents() {
            $.ajax({
                async: false,
                crossOrigin: true,
                type: 'GET',
                accept: 'application/json',
                url: 'http://localhost:3000/schedule',
                data: {
                    groupId: this.groupId,
                    fromDate: dateFormat(this.fromDate, 'yyyy-mm-dd"T00:00:00"'),
                    toDate: dateFormat(this.toDate, 'yyyy-mm-dd"T23:00:00"')
                }
            })
                .success(
                    function(response) {
                        this.events = JSON.parse(response);
                    }.bind(this)
                )
                .fail(function() {
                    console.log('Failed to get events');
                });
        },
        initDateRange() {
            switch (this.displayType) {
                case 'days': {
                    this.dateRange = timeService.getDaysRange(this.fromDate, this.toDate);
                    break;
                }
                case 'weeks': {
                    this.dateRange = timeService.getWeeksRange(this.fromDate, this.toDate);
                    break;
                }
                default: {
                    console.log('Inappropriate display type');
                }
            }
        },
        getEventsForDate(date) {
            let eventsForDate = this.events.filter(value => this.areDatesEqual(value.start_time, date));
            return eventsForDate;
        },
        areDatesEqual(sourceDate1, sourceDate2) {
            let date1 = new Date(sourceDate1);
            let date2 = new Date(sourceDate2);
            date1.setHours(0, 0, 0, 0);
            date2.setHours(0, 0, 0, 0);
            return date1.getTime() === date2.getTime();
        }
    },
    components: {
        timeTableDay,
        carousel
    }
};
</script>

<style scoped lang="scss">
.class-times {
    position: fixed;
    top: 50+20+5+35px; //header+date+date_margin+cell/2
    left: 0;
}

.class-times-background {
    position: fixed;
    top: 50px;
    left: 0;
    height: 20+5+70 * 5+5 * 4px; //date_height+date_margin_bottom+cell_height*number_of_cells+cell_margin*(number_of_cells-1)
    max-width: 20px;
    min-width: 20px;
    background: #757575;
}

.class-time {
    text-align: center;
    max-width: 20px;
    min-width: 20px;
    height: 70px;
    margin-bottom: 5px;
}

.time-table {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
</style>