<template>
    <div class="time-table-day">
        <div class="date">{{dateDisplayFormat(date)}}</div>
        <div v-for="classTime in classTimes" :key="classTime">
            <time-table-cell :classesData="classesByTimeMap.get(classTime)"></time-table-cell>
        </div>
    </div>
</template>

<script>
import dateFormat from 'dateformat';

import timeTableCell from './time-table-cell';

export default {
    name: 'time-table-day',
    props: {
        date: {
            type: Date,
            required: true
        },
        classTimes: {
            type: Array,
            required: true
        },
        events: {
            type: Array,
            required: true
        }
    },
    computed: {
        classesByTimeMap: function() {
            let classesByTimeMap = new Map();
            this.classTimes.forEach(
                function(currentClassTime) {
                    let classesByCurrentTimeAndDate = this.events.filter(
                        value => value.number_pair === currentClassTime
                    );
                    classesByTimeMap.set(currentClassTime, classesByCurrentTimeAndDate);
                }.bind(this)
            );
            return classesByTimeMap;
        }
    },
    components: {
        'time-table-cell': timeTableCell
    },
    methods: {
        dateDisplayFormat(sourceDate) {
            let date = new Date(sourceDate);
            date = dateFormat(date, 'dd.mm, ddd');
            return date;
        }
    }
};
</script>

<style scoped lang="scss">
.date {
    text-align: center;
    max-width: 90px;
    min-width: 90px;
    height: 20px;
    margin-bottom: 5px;
}
</style>